li{
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    color:brown;
}


#contenedor{
    background-color: antiquewhite;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 25px;
}

.cabecera{/* así se le da estilo a una clase */
    border: red solid 3px;
}

.contenido{
    background-color: aquamarine;
}

.destacado{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: beige;
}

/* ctrl +k ctrl +c es el shortcut para añadir un comentario de este tipo */
